altgraph==0.17
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
future==0.18.2
gevent==20.12.0
greenlet==0.4.17
idna==2.10
msgpack==1.0.2
pefile==2019.4.18
pycparser==2.20
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.11
pyotp==2.4.1
pypiwin32==223
pysqlcipher3==1.0.3
pywin32==300
pywin32-ctypes==0.2.0
pyzmq==20.0.0
requests==2.25.1
SQLAlchemy==1.3.22
urllib3==1.26.2
zerorpc==0.6.3
zope.event==4.5.0
zope.interface==5.2.0
